{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div>
                <h3><u>Welcome Home! </u></h3>
                
                Email: {{ email }}
                <br>
                User Id: {{ user_id }}
                <br>

            </div>
            <br><br>
            <div>
                <h4><b>Your Saved Searches: </b></h4>
                <ul>
               
                  
                </ul>
            </div> 
       </div>
    </div>
</div>
{% endblock %}